.App {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .profile-card {
    margin-top: 20px;
    margin: 0 auto;
    width: 70vw;
    height: 55vh;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  button {
    margin: 30px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: cadetblue;
    font-weight: 600;
  }
  
  .App img {
    width: 250px;
    height: 310px;
  }
  
  h2 {
    font-size: 60px;
  }